<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <img  th:src="@{images/conference-header.jpg}" alt="header" width="100%" height="200px" />
    <title>Registration</title>
    <style>
        .error {
            color: #ff0000;
        }

        .errorblock {
            color: #000;
            background-color: #ffEEEE;
            border: 3px solid #ff0000;
            padding: 8px;
            margin: 16px;
        }

        body {
            text-align: center;
        }
        form {
            display: inline-block;
        }

    </style>
</head>
<body>
<h1 align="center">Registration</h1>
    <form action="registration" method="post" th:object="${registration}" >
        <div th:if="${#fields.hasAnyErrors()}" class="errorblock">
            <ul>
                <li th:each="err : ${#fields.allErrors()}" th:text="${err}"  />
            </ul>
        </div>
    <table>
        <tr>
            <td>

                <label th:text="#{name}">Name:</label>
            </td>
            <td>

                <input type="text" th:field="${registration.name}" />
            </td>
            <td>
                <p th:text="#{NotEmpty.registration.name}" th:if="${#fields.hasErrors('name')}" th:errorclass="error" th:errors="${registration.name}" />
            </td>
        </tr>
        <tr>
            <td>

                <label th:text="#{email}">Email:</label>
            </td>
            <td>

                <input type="email" th:field="${registration.email}" />
            </td>
            <td>
                <p th:text="#{NotEmpty.registration.email}" th:if="${#fields.hasErrors('email')}" th:errorclass="error" th:errors="${registration.email}" />
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <input type="submit" value="Add Registration">
            </td>
        </tr>
    </table>
    </form>
</body>
</html>